name: Validate Homey App
on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  main:
    name: Validate Homey App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Install all dependencies
      - run: npm ci
      # Build TypeScript
      - run: npm run build
      # Run Homey validation
      - uses: athombv/github-action-homey-app-validate@master
        with:
          level: verified
